.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


html {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

*, *:before, *:after {

  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;

}

@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

/* main page display */

body {

  background-color: #ec3c2d;
	font-weight:500;
	text-transform: uppercase;
	color: #2d3e50;
} 

h4 {

  font-weight: 300;
  text-align: center;
  padding-bottom: 3%;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}


.border {

  width: 80%;
  padding: 20%;
  border: 5px solid #fff;
  margin: .2em auto;
  
}

.img-wrapper {

  position: absolute;
  left: 50%;
  margin-right: -50%;
  margin-top: -10%;
  padding-left: 20px;
  transform: translate(-50%, -50%)

}

.li_name, .li_age, .li_sex, .li_mix, .li_breed, .li_city, .li_zip, .li_breeder {

   list-style-type: none;
   padding-top: 1%;
   padding-right: 5%;
   float: right;
   clear: right;

}

.li_breeder {

  cursor: pointer;

}

/* state button display */

.content_search {
  position: relative;
  top: calc(15% - 120px);
  left: calc(39% - 130px);
  width: 400px;
  height: 150px;
  padding: 5px;
  padding-bottom: 5%;
  box-sizing: border-box;
  background: #fff5dc;
  border-radius: 10px;
  box-shadow: 0 5px 0px 0px;
}

.dropbtn {
    background-color: #00324b;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 35%;
}

.dropdown-content {
    display: none;
    cursor: pointer;
    position: absolute;
    overflow: auto;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown-content li{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content li:hover {
   background-color: #ec3c2d;
   list-style: none;
   text-decoration: none;

}

.dropdown:hover .dropdown-content {
    display: block;
    list-style: none;
    text-decoration: none;
}

.dropdown:hover .dropbtn {
    background-color: #ec3c2d;
}

/* frenchie info display */

.featuredImage img {

  width: 30%;
  margin: 1.5%;
  padding: 5%;
  float: left;
  border-radius: 30px;
}

.content {
  position: relative;
	padding: 16px;
	margin-top: 5%;
	box-sizing: border-box;
	background: #fff5dc;
	border-radius: 10px;
	box-shadow: 0 5px 0px 0px;

}

.frenchieInfo {
  margin-top: 5%;
  margin-bottom: 5%;
  height:900px;
  width: 600px;
  padding-right: 5%;
  padding-bottom: 5%;
  overflow:scroll;
  overflow-x:hidden;
  overflow-y:scroll;

}  

/* rest of main page display */

.footer {
  vertical-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 20px;
  padding-left: 33%;
  margin-bottom: -40%;

}

.clearfix {
	clear: both;
}

